.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

header {
  text-align: center;
  flex-grow: 1;
}

.sticky-menu {
  position: sticky; /* Change from 'fixed' to 'sticky' */
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh; /* Make it fill the screen vertically */
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items at the top */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu-item {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #444;
  border: none;
  color: white;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #61dafb;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 220px; /* Make space for the sticky menu */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spinner {
  margin: 20px auto;
  border: 5px solid #ccc;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  max-width: 6%;
  display: grid;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a:active {
  background-color: #04AA6D;
  color: white;
}

