.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

header {
  text-align: center;
  flex-grow: 1;
}

.sticky-menu {
  position: sticky; 
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu-item {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #444;
  border: none;
  color: white;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #61dafb;
}

main {
  display: block; 
  padding: 10px; 
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.gallery {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
  width: 100%;
  margin: 0 auto;
  justify-items: center; 
}

.gallery img {
  width: 100%;
  height: auto;
  max-width: 180px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spinner {
  display: block;
  margin: 20px auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure it covers everything */
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

.navbar {
  max-width: 6%;
  display: grid;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a:active {
  background-color: #04AA6D;
  color: white;
}
